* {
   /* border: red solid 1px; */
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

body,
html {
   color: #ea4809;
   background-color: #E4E4E4;
   font-family: "Roboto", serif;
   font-weight: 300;
   box-sizing: border-box;
   overflow-x: hidden;
   margin: 0 auto;
   width: 1440px;
}

.container__header {
   margin: 0 auto 100px;
   height: 800px;
   background-image: url(../image/bg.svg);
   background-repeat: no-repeat;
   background-position: right center;
}

.header__nav {
   padding: 30px 32px 50px 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__img {
   display: flex;
   flex-direction: column;
}

.a__studio {
   padding-bottom: 20px;
}

.blog__text {
   font-size: 34px;
   color: #ea4809;
   font-weight: 300;
   text-transform: uppercase;
}

.blog__text:hover {
   color: #4043d7;
   transition: 0.7s;
}

.header__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.studio__text {
   font-size: 123px;
   letter-spacing: 7px;
   font-weight: 500;
   padding-left: 26px;
}

.rotate-text {
   transform: rotate(270deg);
   font-size: 13px;
   position: relative;
   top: -50px;
   left: -55px;
}

.rotate-text-last {
   transform: rotate(90deg);
   font-size: 14px;
   position: relative;
   bottom: -30px;
   right: -75px;
}

.rotate-text,
.rotate-text-last {
   display: inline-block;
   white-space: nowrap;
   font-weight: 100;
}

.cont-span {
   padding-left: 186px;
}

.other-text {
   font-size: 37px;
   font-weight: 300;
}

.container__main {
   margin: 0 auto;
}

.main__our {
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   padding-top: 340px;
   padding-bottom: 280px;
}

.idea {
   width: 448px;
   height: 606px;
}

.idea-text {
   margin: 0 0 53px 0;
   font-size: 77px;
   font-weight: 500;
   letter-spacing: 3px
}

.text {
   font-size: 22px;
   padding-left: 10px;
   margin: 0;
}

.who {
   background-color: #fff;
   width: 423px;
   height: 606px;
}

.question {
   padding-left: 80px;
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 300;
}

.question:first-child {
   margin-top: 130px;
}

.respond {
   font-size: 22px;
   padding-left: 80px;
   margin: 10px 0;
}

.main__meet {
   height: 269px;
   margin: 0 auto;
   padding-bottom: 250px;
}

.meet {
   width: 775px;
   display: flex;
}

.rotate-meet,
.rorate-mutt {
   transform: rotate(270deg);
   font-size: 14px;
   top: 130px;
   position: relative;
   height: 18px;
}

.rorate-mutt {
   top: 202px;
}

.meet-text,
.mutt-text {
   font-size: 114px;
   font-weight: 500;
   margin: 0;
   padding-left: 100px;
}

.studio__block,
.studioten__block {
   margin: 0 auto;
   width: 1225px;
   height: 700px;
   display: flex;
   justify-content: space-around;
   padding: 0 10px 185px 0;
}

.block-one,
.block-three {
   width: 417px;
   padding-left: 27px;
}

.block-two,
.block-four {
   width: 618px;
   padding-right: 27px;
}

.text-block {
   margin: 33px 0 0 0;
}

.text-block-t {
   margin: 0;
}

.studio-text,
.studioten-text {
   margin: 5px 0 150px 0;
   font-weight: 300;
   font-size: 22px;
}

.social-media {
   margin: 0 auto;
   width: 1236px;
   height: 250px;
   padding-bottom: 190px;
}

.social__block {
   display: flex;
   justify-content: space-between;
}

.link-item {
   padding-bottom: 21px;
}

.social-link {
   color: #ea4809;
   font-size: 22px;
}

.social-text {
   width: 630px;
}

.text-social {
   font-weight: 300;
   font-size: 23px;
   margin: 0;
   letter-spacing: 1px;
   line-height: 33px;
}

.js__photo,
.js__photo-two {
   margin: 0 auto;
   height: 900px;
   background-color: #fff;
   margin-bottom: 250px;
}

.main__mutt {
   margin: 0 auto;
   padding-bottom: 250px;
}

.mutt__block {
   display: flex;
}

.mutt-text {
   width: 544px;
}

.view_blog {
   padding: 0 10px 214px 10px;
   margin: 0 auto;
}

.view-text {
   text-align: center;
   font-size: 50px;
   font-weight: 700;
}


.marquee-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 220px;
   /* width: 100%; */
   overflow: hidden;
   position: relative;
   background: #F2D1F3;
}

.marquee-text {
   position: absolute;
   left: 100%;
   top: 50%;
   transform: translateY(-50%);
   white-space: nowrap;
}

.img__studio {
   height: 80px;
}

footer {
   /* width: 100vw; */
}

.footer__container {
   margin: 0 auto;
   background-color: #EA4809;
   height: 880px;
}

.block__footer {
   display: flex;
   flex-direction: column;
   padding-top: 270px;
   width: 1236px;
   margin: 0 auto;
}

.footer-text {
   width: 625px;
   color: #fff;
   margin: 0;
   font-size: 85px;
   font-weight: 300;
}

.a__email {
   padding-top: 80px;
   color: #fff;
   text-decoration: underline;
   font-size: 30px;
}

.end__footer {
   display: flex;
   width: 1236px;
   margin: 0 auto;
   padding-top: 110px;
}

.end__footer-text {
   color: #FF917E;
}







@media (max-width: 1024px) {

   .header__nav {
      padding: 30px 50px;
   }


   .studio__text {
      width: 600px;
      font-size: 100px;
   }

   .main__our {
      padding-top: 200px;
   }

   .main__meet {
      height: 310px;
   }

   .meet-text {
      font-size: 130px;
   }

}

@media (max-width: 768px) {

   .container__header {
      margin: 0;
   }

   .header__nav {
      height: 150px;
   }

   .main__our {
      padding: 150px 0;
   }

   .main__meet {
      padding-bottom: 200px;
   }

   .js__photo {
      margin-bottom: 200px;
   }

   .main__mutt {
      padding: 0;
      margin-bottom: 220px;
   }

   .social-media {
      padding-bottom: 150px;
   }

   .js__photo-two {
      margin-bottom: 200px;
   }

   .view_blog {
      padding-bottom: 200px;
   }

   .footer__container {
      height: 680px;
   }

   .block__footer {
      padding-top: 70px;
   }

}


@media (max-width: 530px) {

   .header__nav {
      height: 210px;
      justify-content: space-around;

   }

   .header__img {
      text-align: center;
      width: 580px;
   }

   .header__blog {
      width: 250px;
      text-align: center;
   }

   .main__our {
      justify-content: space-evenly;
      padding: 100px 0 220px 0;
   }

   .studio__text {
      font-size: 80px;
   }

   .view-text {
      font-size: 70px;
   }

}


@media (max-width: 480px) {

   .blog__text {
      font-size: 50px;
   }
}