/* * {
   border: red solid 1px;
} */

a {
   text-decoration: none;
   color: #ea4809;
}

li {
   list-style: none;
}

body,
html {
   color: #ea4809;
   background-color: #E4E4E4;
   font-family: "Roboto", serif;
   font-weight: 300;
   box-sizing: border-box;
   overflow-x: hidden;
   margin: 0 auto;
   width: 1440px;
}

.container__header {
   margin: 0 auto 100px;
   height: 800px;
   background-image: url(../image/bg.svg);
   background-repeat: no-repeat;
   background-position: right center;
}

.header__nav {
   padding: 30px 32px 50px 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 108px;
}

.header__img {
   display: flex;
   flex-direction: column;
}

.a__studio {
   padding-bottom: 20px;
}

.img__blog {
   transition: .5s;
   background-size: contain;
   height: 80px;
}

.blog__text {
   font-size: 34px;
   color: #ea4809;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   height: 70px;
   margin: 0;
}

.blog__text:hover {
   color: #7d83d9;
   transition: 0.7s;
   margin-top: -20px;
}

.header__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.studio__text {
   font-size: 123px;
   letter-spacing: 7px;
   font-weight: 500;
   padding-left: 26px;
}

.rotate-text {
   transform: rotate(270deg);
   font-size: 13px;
   position: relative;
   top: -50px;
   left: -55px;
}

.rotate-text-last {
   transform: rotate(90deg);
   font-size: 14px;
   position: relative;
   bottom: -30px;
   right: -75px;
}

.rotate-text,
.rotate-text-last {
   display: inline-block;
   white-space: nowrap;
   font-weight: 100;
}

.cont-span {
   padding-left: 186px;
}

.cont__button {
   display: flex;
   height: 200px;
   align-items: center;
   justify-content: center;
}

.button {
   display: inline-block;
   width: 200px;
}

.button-link {
   position: relative;
   display: inline-block;
   padding: 6px 0;
   width: 200px;
   border: 2px solid #ea4809;
   color: #ea4809;
   font-size: 20px;
   text-align: center;
   transition: .3s;
}

.button-link__text {
   position: relative;
   z-index: 2;
   transition: .3s;
}

.button-link:hover {
   border: 2px solid #fff;
   color: #fff;
}

.button-link:hover::before {
   width: 100%;
   right: 0;
}

.button-link::before {
   top: 0;
   left: 0;
}

.button-link:hover::after {
   width: 100%;
   right: 0;
}

.button-link::after {
   bottom: 0;
   right: 0;
}

.button-link::before,
.button-link::after {
   content: "";
   display: block;
   position: absolute;
   background: #ea4809;
   height: 50%;
   width: 0;
   transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
   z-index: 1;
}


.other-text {
   font-size: 37px;
   font-weight: 300;
}

.container__main {
   margin: 0 auto;
}

.main__our {
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   padding-top: 210px;
   padding-bottom: 280px;
}

.idea {
   width: 448px;
   height: 606px;
}

.idea-text {
   margin: 0 0 53px 0;
   font-size: 77px;
   font-weight: 500;
   letter-spacing: 3px
}

.text {
   font-size: 22px;
   padding-left: 10px;
   margin: 0;
}

.who {
   background-color: #ffffffb3;
   width: 423px;
   height: 606px;
}

.question {
   padding-left: 80px;
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 300;
}

.question:first-child {
   margin-top: 130px;
}

.respond {
   font-size: 22px;
   padding-left: 80px;
   margin: 10px 0;
}

.main__meet,
.main__mutt {
   width: 900px;
   height: 269px;
   margin: 0 auto;
   padding-bottom: 250px;
}

.meet__block,
.mutt__block {
   width: 800px;
   display: flex;
   justify-content: space-between;
}

.rotate-meet,
.rotate-mutt {
   display: flex;
   align-items: center;
   justify-content: center;
   transform: rotate(270deg);
   font-size: 14px;
   top: 130px;
   position: relative;
   height: 70px;
   width: 200px;
   margin-right: 160px;
}

.rotate-meet {
   transform: rotate(270deg);

}

.rotate-mutt {
   top: 202px;
}

.rotate-meet:hover,
.rotate-mutt:hover {
   font-size: 16px;
   margin-left: 50px;
   transition: 1s;
   transform: rotate(360deg);
   color: #7d83d9;
}

.a-rotate__meet:hover,
.a-rotate__mutt:hover {
   color: #7d83d9;
}

.meet-text,
.mutt-text {
   width: 530px;
   font-size: 110px;
   font-weight: 500;
   margin: 0;
   /* padding-left: 100px; */
}




.studio__block,
.studioten__block {
   margin: 0 auto;
   width: 1225px;
   height: 700px;
   display: flex;
   justify-content: space-around;
   padding: 0 10px 185px 0;
}

.block-one,
.block-three {
   width: 417px;
   padding-left: 27px;
}

.block-two,
.block-four {
   width: 618px;
   padding-right: 27px;
}

.text-block {
   margin: 33px 0 0 0;
}

.text-block-t {
   margin: 0;
}

.studio-text,
.studioten-text {
   margin: 5px 0 150px 0;
   font-weight: 300;
   font-size: 22px;
}

.social-media {
   margin: 0 auto;
   width: 1236px;
   height: 250px;
   padding-bottom: 190px;
}

.social__block {
   display: flex;
   justify-content: space-between;
}

.link-item {
   padding-bottom: 25px;
   width: 180px;
   transition: .7s;
}

.social-link {
   color: #ea4809;
   font-size: 22px;
}

.social-link:hover {
   text-decoration: underline;
   color: #7d83d9;
   transition: 0.5s;
   margin-left: 30px;
}

.social-text {
   width: 630px;
}

.text-social {
   font-weight: 300;
   font-size: 23px;
   margin: 0;
   letter-spacing: 1px;
   line-height: 33px;
}

.js__photo,
.js__photo-two {
   margin: 0 auto;
   height: 900px;
   background-color: #fff;
   margin-bottom: 250px;
}

.main__mutt {
   margin: 0 auto;
   padding-bottom: 250px;
}

.mutt-text {
   width: 544px;
}

.view_blog {
   padding: 0 10px 214px 10px;
   margin: 0 auto;
}

.view-text {
   text-align: center;
   font-size: 50px;
   font-weight: 700;
}


.marquee-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 220px;
   overflow: hidden;
   position: relative;
   background: #F2D1F3;
}

.marquee-text {
   position: absolute;
   left: 100%;
   top: 50%;
   transform: translateY(-50%);
   white-space: nowrap;
}

.img__studio {
   height: 80px;
}

.footer__container {
   margin: 0 auto;
   background-color: #EA4809;
   height: 880px;
}

.block__footer {
   display: flex;
   flex-direction: column;
   padding-top: 270px;
   width: 1236px;
   margin: 0 auto;
}

.footer-text {
   width: 625px;
   color: #fff;
   margin: 0;
   font-size: 85px;
   font-weight: 300;
}

.a__email {
   padding-top: 80px;
   color: #fff;
   text-decoration: underline;
   font-size: 30px;
}

.end__footer {
   display: flex;
   width: 1236px;
   margin: 0 auto;
   padding-top: 110px;
}

.end__footer-text {
   color: #FF917E;
}


@media (max-width: 1024px) {

   .header__nav {
      padding: 30px 50px;
   }


   .studio__text {
      width: 600px;
      font-size: 100px;
   }

   .main__our {
      padding-top: 150px;
   }

   .main__meet {
      height: 310px;
   }

   .meet-text {
      font-size: 130px;
   }

}

@media (max-width: 768px) {

   .container__header {
      margin: 0;
   }

   .header__nav {
      height: 210px;
      justify-content: space-around;
   }

   .header__img {
      text-align: center;
   }

   .a__studio,
   .a__muttnik {
      width: 650px;
   }

   .logo__i {
      width: 580px;
   }

   .blog__text {
      width: 200px;
      font-size: 70px;
      text-align: center;
   }

   .header__block {
      justify-content: space-evenly;
   }

   .block__text {
      display: none;
   }

   .a__play {
      margin-top: -176px;
      margin-left: -320px;
   }

   .cont-span {
      padding: 33px 0;
      text-align: center;
   }

   .main__our {
      flex-direction: column;
      align-items: center;
      padding: 100px 0 30px 0;
   }

   .idea,
   .who {
      width: 600px;
      height: 634px;
      margin-bottom: 125px;
   }

   .idea {
      margin-right: 290px;
   }

   .who {
      margin-left: 310px;
   }

   .idea-text {
      font-size: 100px;
      margin-bottom: 40px;
      padding-top: 50px;
   }

   .text {
      width: 500px;
      font-size: 27px;
   }

   .question:first-child {
      margin-top: 50px;
   }

   .question {
      font-size: 45px;
      margin: 70px 0 15px;
   }

   .respond {
      font-size: 33px;
   }

   .meet,
   .mutt__block {
      width: 1000px;
      justify-content: center;
      padding-left: 45px;
   }

   .main__meet {
      padding-bottom: 130px;
   }

   .meet-text,
   .mutt-text {
      width: 600px;
   }

   .rotate-meet,
   .rorate-mutt {
      height: 27px;
      font-size: 27px;
   }

   .js__photo,
   .js__photo-two {
      margin: 170px 0;
      height: 600px;
   }

   .studio__block,
   .studioten__block {
      justify-content: center;

   }

   .block-one,
   .block-three {
      margin-right: 10px;
   }

   .block-two,
   .block-four {
      margin-left: 10px;
      margin-top: 190px;
   }

   .studio-text,
   .studioten-text {
      font-size: 30px;
      width: 580px;
   }

   .text-block {
      font-size: 25px;
      margin-top: 20px;
      text-align: center;
   }

   .text-block-t {
      font-size: 23px;
      text-align: center;
      margin-top: 10px;
   }

   .main__mutt {
      padding: 0;
      margin-bottom: 130px;
   }

   .social__block {
      height: 330px;
      justify-content: space-around;
      align-items: center;
      margin-top: 110px;
   }

   .social-link {
      font-size: 35px;
   }

   .social-text {
      width: 680px;
   }

   .text-social {
      font-size: 35px;
      letter-spacing: 0;
   }

   .social-media {
      padding: 0;
      height: 440px;
   }

   .view_blog {
      padding-bottom: 90px;
   }

   .marquee-container {
      height: 150px;
   }

   .img__studio {
      height: 50px;
   }

   .footer__container {
      height: 550px;
   }

   .block__footer {
      padding-top: 40px;
   }

   .footer-text {
      font-size: 70px;
   }

   .a__email {
      padding-top: 60px;
   }

   .end__footer {
      padding-top: 90px;
   }

}


@media (max-width: 530px) {

   .header__nav {
      height: 210px;
      justify-content: space-around;

   }

   .header__img {
      text-align: center;
      width: 660px;
   }

   .header__blog {
      width: 200px;
      text-align: center;
   }

   .a__play {
      margin-top: -90px;
      margin-left: -370px;
   }

   .main__our {
      padding-top: 0;
   }

   .idea,
   .who {
      width: 670px;
   }

   .text {
      width: 660px;
      font-size: 31px;
   }

   .studio__text {
      font-size: 80px;
   }

   .view-text {
      font-size: 70px;
   }

   .js__photo,
   .js__photo-two {
      margin: 130px 0;
   }

}


@media (max-width: 460px) {
   .header__nav {
      flex-direction: column;
      height: 400px;
   }

   .header__img {
      margin-right: 700px;
   }

   .a__play {
      margin-top: -560px;
      margin-left: 0;
   }

   .studio__text {
      font-size: 130px;
   }

   .logo__i {
      height: 100px;
      width: 700px;
   }

   .main__our {
      padding-top: 320px;
   }

   .cont-span {
      padding: 50px 0 70px 0;
   }

   .main__our {
      margin-top: 140px;
   }

   .idea,
   .who {
      width: 1000px;
      height: 690px;
      margin: 0;
   }

   .idea {
      padding-bottom: 70px;
      margin-bottom: 140px;
   }

   .who {
      text-align: center;
   }

   .idea-text {
      text-align: center;
      padding-top: 50px;
   }

   .question,
   .respond {
      padding-left: 0;
   }

   .question {
      font-size: 57px;
      margin-top: 50px;
   }

   .respond {
      font-size: 40px;
      margin-top: 4px;
   }

   .text {
      width: 100%;
      font-size: 40px;
   }

   .main__meet {
      padding: 60px 0 0 0;
   }

   .meet,
   .mutt__block {
      padding-left: 101px;
   }

   .meet-text,
   .mutt-text {
      font-size: 101px;
   }

   .rotate-meet,
   .rorate-mutt {
      height: 20px;
      font-size: 20px;
   }

   .studio__block,
   .studioten__block {
      padding-top: 200px;
      flex-direction: column;
      align-items: center;
   }

   .block-one,
   .block-three {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-right: 0;
   }

   .block-two,
   .block-four {
      display: flex;
      width: 100%;
      margin-top: 100px;
   }

   .text-block {
      padding-left: 100px;
      margin-top: 20px;
      font-size: 45px;
   }

   .text-block-t {
      margin-top: 100px;
      font-size: 40px;
   }

   .two {
      padding: 0;
      font-size: 24px;
   }

   .studio-text {
      margin: 275px 30px 0 0;
   }

   .social__block {
      margin-top: 130px;
   }

   .social-media {
      height: 330px;
   }

   .js__photo,
   .js__photo-two {
      padding: 90px 0;
   }

   .view_blog {
      padding-bottom: 40px;
   }

   .view-text {
      font-size: 70px;
   }

   .marquee-container {
      height: 100px;
   }

   .img__studio {
      height: 40px;
   }

   .footer__container {
      height: 370px;
   }

   .footer-text {
      padding-left: 50px;
      font-size: 55px;
   }

   .a__email {
      padding-top: 40px;
      padding-left: 55px;
   }

   .end__footer {
      padding-left: 110px;
      padding-top: 40px;
   }

}